html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(157, 152, 152);
}
canvas {
  display: block;
}
.container {
  background-color: black;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  position: relative;
}
#vid {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
}
#cnv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color:rgba(0,0,0,0);
}